{% extends "base.html" %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">.....About Us.....</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to {{company}} E-commerce.....</p>
            </div>
        </div>
    </header>
    <br><br>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align="justify">
                        Lorem ipsum dolor sit amet. Eum unde ipsum sed blanditiis repudiandae aut error quisquam qui enim quis hic saepe fuga. Aut deserunt fugiat aut dolor corrupti cum nesciunt laborum eos perferendis officia ut dolor voluptate ea praesentium voluptatibus eum libero velit.
                    </p>
                    <p align="justify">
                        Et doloremque blanditiis ad incidunt voluptatem rem aliquid voluptatem id fugiat corporis. Qui impedit consectetur nam quasi pariatur est officiis delectus et eius accusamus sed facilis dolorem? Ut sequi necessitatibus sed consequatur voluptatem a natus nihil vel eveniet provident.
                    </p>
                    <p align="justify">
                        Et provident iusto vel sunt accusamus sit nihil sunt qui beatae repellat et earum placeat et adipisci quae et internos sint. Hic consequatur explicabo et voluptatem omnis ut natus quibusdam aut voluptas architecto non veritatis quaerat est reiciendis aliquid et corrupti labore? Eos eaque delectus aut consectetur dolorem est provident eligendi sit ratione molestias qui nobis officia id quia aperiam. Eos Quis consequuntur aut harum nostrum non debitis obcaecati qui mollitia iure et pariatur laborum est similique pariatur.
                    </p>
                </div>
            </center>
        </div>
    </div>
    <br><br>
{% endblock %}